.container {
    display: inline-block;
    width: 350px;
    border-radius: 5px;
    justify-content: center;
    background-color: #fff;
    margin: 40px 10px 10px 10px;
    cursor: pointer;
    transition: box-shadow 0.2 ease;
}

.container:hover {
    box-shadow: 0px 3px 5px rgb(0, 0, 0, 0.2) ;
}

.container > img {
    width: 150px;
    margin: 40px 10px 10px 100px;
}

.container > p {
    margin: 10px 15px;
}

.cantProds {
    display: flex;
    color: black;
    background-color: rgb(204, 202, 68);
    border-radius: 100px;
    padding: 10px 10px;
    margin: 10px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

.buttonQuantityContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

