.containerCartCenter {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.cardCartContainerCenter {
   background-color: rgb(255, 255, 255);
    display: flex;
    width: 1100px;
}

.cardCartContainer {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    justify-content: center;
    width: 770px;
}

.cardCartTotal {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 57px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
