.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(211, 221, 28, 0.815);
    padding: 0.5rem;
}

.navStyles{
    color: #fff;
    list-style: none;
    text-decoration: none;
}

.title {
    color: black;
    font-weight: bold;
    margin-left: 10rem;
}

.cart {
    color: black;
    margin-right: 10rem;
    text-decoration: none;
    background-color: rgb(204, 202, 68);
    border-radius: 50px;
    padding: 10px;
}

.cartCount {
    border-radius: 20px;
    padding: 8px;
    color: black;
}