.prods {
    column-count: 3;
    background-color: rgb(245, 242, 242);
}

.containerInput {
    display: flex;
    background-color:rgba(204, 211, 54, 0.815);
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 1px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
    z-index: 3;
    position: relative;
}

.input {
    outline: none;
    border: solid 1px rgb(0 ,0 , 0, 0);
    padding: 10px 5px;
    border-radius: 3px;
}